<!-- your html code here -->



<div class="container" style="height: 500px; width: auto; background-color: white" class="mt-4"   >
    <div class=" p-4">
        <h1>
            CONTACT
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde quia aspernatur ea maxime porro voluptate
            soluta fugit pariatur maiores possimus eligendi reprehenderit, quae laborum, dolor quibusdam sint similique
            numquam nihil!
        </p>
    </div>
    <div class="container bg-light p-4" >
        <form> <!--este es el tamano a lo largo de los campos de texto-->
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Your Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
                </div>
            </div>
            
            <div class="row mb-3">
                <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Your Message</label>
                <div class="col-sm-10">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>