<!-- your html code here -->



<div>
    <div>
        <h1>
            CONTACT
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde quia aspernatur ea maxime porro voluptate
            soluta fugit pariatur maiores possimus eligendi reprehenderit, quae laborum, dolor quibusdam sint similique
            numquam nihil!
        </p>
    </div>
    <div>
        <form style="width: 400px; height: 400px;">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Your Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Your Message</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3">
                </div>
            </div>
            <div class="row mb-3">
                <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Example textarea</label>
                <div class="col-sm-10">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
</div>