<!-- your html code here -->


<div class="container-fluid bg-light">

    <div class="col" style="height: 200px;"></div>

    <div class="row align-items-start ">

        <div class="col-1">
            
        </div>


        <div class="col-6 ps-10">
            <div class="d-flex"><h1>This First Heading</h1>
            <h1 class="text-secondary ps-2">Will Catch Your Eye</h1>
        </div>

            <div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga veritatis nam odio enim voluptates modi, amet fugit sapiente dolorum porro mollitia corporis voluptatum qui animi minus. Libero, repudiandae expedita?</p>
            </div>
        </div>
        <div class="col ">
            <img class="rounded-circle img-thumbnail" src="/website/assets/img/1.jpg" alt="laptop"
                style="height: 500px; width: 500px;">

        </div>
        <div class="col-12 p-5">
<br>

    </div>


</div>