<!-- your html code here -->


<div class="container bg-light p-5">
    
    

    <div class="row">


        <div class="col-6 m-auto">
            <div class="d-flex">
                <h3>This Firsts Heading</h3>
                <h3 class="text-secondary ps-2">Will Catch Your Eye</h3>
            </div>

            <div>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga veritatis nam odio enim
                    voluptates modi, amet fugit sapiente dolorum porro mollitia corporis voluptatum qui animi minus.
                    Libero, repudiandae expedita?</p>
            </div>
        </div>
        <div class="col p-5 ">
            <img class="rounded-circle img-thumbnail" src="/website/assets/img/1.jpg" alt="laptop"
                style="height: 350px; width: 350px;">

        </div>
    

    </div>