<!-- your html code here -->

<div class="container"> <!--bloque principal-->
  <div>
    <div class=" bg-light p-4">
      <h1>PORTFOLIO</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quo et quisquam, eum aut, at neque eveniet
        minus, fugiat omnis libero. Laborum nemo quas debitis temporibus officia aperiam eum ex.</p>
    </div>

    <div class="card-group container-fluid bg-light d-flex">

      <div class="card">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="imagen">
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero in, sit ad, quisquam
            alias possimus debitis labore vitae consectetur itaque quae atque cumque dicta. At odio modi commodi harum
            blanditiis.</p>
        </div>

      </div>
      <div class="card">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="imagen">
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At excepturi praesentium qui
            nam, accusantium nemo dolores dicta recusandae voluptas in nisi corporis, eaque quidem iure rem assumenda
            tenetur quaerat dolorem!</p>
        </div>

      </div>
      <div class="card">
        <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="imagen">
        <div class="card-body">
          <h5 class="card-title">Project Name.</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum qui temporibus ab nam
            accusantium aliquam explicabo, quo, amet quod adipisci nostrum voluptas minus laudantium perspiciatis ex
            pariatur quis esse sed!</p>
        </div>

      </div>
    </div>

  </div>


</div>