<!-- your html code here -->

<div class="container bg-light p-4 ">

    <div class="col" style="height: 400px;">
        <span class="border-top">
            <div class="d-flex flex-row-reverse">


                <div class="col-6 ps-10">
                    <div class="d-flex">
                        <h1>The Second Heading</h1>
                        <h1 class="text-secondary ps-2">Is Pretty Cool Too</h1>
                    </div>

                    <div>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere fuga veritatis nam odio enim
                            voluptates modi, amet fugit sapiente dolorum porro mollitia corporis voluptatum qui animi
                            minus.
                            Libero, repudiandae expedita?</p>
                    </div>
                </div>
                <div class="col">
                    <img class="rounded-circle img-thumbnail" src="/website/assets/img/2.jpg" alt="laptop"
                        style="height: 400px; width: 400px;">

                </div>


            </div>
        </span>
    </div>

</div>